html{
    height: 100%;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

h1{
    font-family: "Alone";
    font-size: 80px;
    font-weight: lighter;
    animation: Expand 1s forwards, UpNoShadow 1s 0.9s forwards;
    transform: scale(0.01);
    transition: 0.3s;
}

a:link#links,a:visited#links,a:hover#links{
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    right: 300px;
}

#main{
    text-align: center;
    background-color: #362417;
    color: #fffbff;
    height: 100vh;
    padding: 20px 0px;
}

#recipe{
    text-align: center;
    background-color: #362417;
    color: #fffbff;
    height: 100%;
    padding: 20px 0px;
}

#recipe-container{
    margin: auto;
    width: 700px;
    display: inline-block;
    background-color: #92817a;
    padding-top: 10px;
}

#recipe-top{
    height: 140px;
    padding: 10px;
    position: relative;
    text-align: center;
}

#divider{
    display: grid;
    width: 700px;
    height: 20px;
    text-align: left;
    background-color: #92817a;
    margin: auto;
}

#middle{
    display: flex;
    width: 700px;
    margin: auto;
}

#times-container{
    display: inline-block;
    width: 700px;
    margin: auto;
    text-align: justify;
}

#ingredients, #instructions, #nutrition{
    display: grid;
    width: 700px;
    text-align: left;
    background-color: #92817a;
    margin: auto;
}

#ingredients li{
    margin-left: 60px;
    margin-bottom: 0.67em;
}

#instructions li{
    margin-bottom: 1.5em;
    width: 600px;
}

#nutrition li{
    list-style-type: none;
    margin-bottom: 0.67em;
    padding: 0px 20px;
}

#nutrition-right-1{
    padding-right: 50px;
}

#nutrition-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#nutrition-left-1, #nutrition-left-2{
    color:#333;
}

#nutrition-right-1, #nutrition-right-2{
    color:white;
}

#wrapper{
    display: inline-grid;
    margin: auto;
}

.topLinks, .bottomLinks{
    display: flex;
    justify-content:space-between;
    width: 500px;
    height: 180px;
    margin-left: 20px;
}

.recipe-name{
    position: relative;
    top: -70px;
    z-index: 10;
    text-shadow: 3px 2px black;
}

.recipe-pic{
    position: absolute;
    top: 0;
    left: 0;
}

.imageMain{
    object-fit: cover;
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    border: 0.2em solid #f1dabf;
    background: linear-gradient(to bottom, #f1dabf, black);
    background-size: cover;
    background-origin: border-box;
    box-shadow: 0 0 1.2em black;
    animation: FadeIn 2s forwards;
    transition: 0.3s;
}

.imageSmall{
    object-fit: cover;
    position: absolute;
    z-index: 2;
    top: 2em;
    left: 7px;
    width: 680px;
    height: 100px;
    border-radius: 0%;
    border: 0.2em solid #f1dabf;
    background: linear-gradient(to bottom, #f1dabf, black);
    background-size: cover;
    background-origin: border-box;
    box-shadow: 0 0 0px black;
    animation: FadeIn 2s forwards, Up 1s 0.9s forwards;
    transition: 0.3s;
}

.line{
    width: 700px;
    z-index: 20;
    margin-top: -95px;
}

.bgImage::before {
	content: url("recipes/clock.svg");
    width: 14px;
    display: inline-block;
	}

.times{
    width: 175px;
    background-color: #92817a;
    float: left;
    text-align: center;
}

@keyframes Expand {
    from {transform: scale(0.01)} to {transform: scale(1)};
}

@keyframes Up {
    100% {top: 2em};
    from {box-shadow: 0 0 0px black} to {box-shadow: 0 0 1.2em black};
}

@keyframes UpNoShadow {
    100% {top: 2em};
}

@keyframes FadeIn {
    from {opacity: 0} to {opacity: 1};

}

@font-face {
    font-family: "Alone";
    src: url(Alone\ in\ the\ Dark.ttf);   
}